In [1]:
import pandas as pd
import numpy as np
import spacy

In [2]:
import matplotlib.pyplot as plt

In [3]:
correct_city = pd.read_csv("Correct_cities.csv")
missplet_city = pd.read_csv("Misspelt_cities.csv")
print(len(missplet_city))
print(len(correct_city))

23018
23018

In [4]:
missplet_city.head()

    misspelt_name        country
0  Hfjdúszoposzló        Hungary
1        Otrajnyy         Russia
2      ian Isidre           Peru
3   Bordj Zemoufa        Algeria
4     ChulamViwta  United States

In [5]:
correct_city.head()

               name               country       id
0      les Escaldes               Andorra  3040051
1  Andorra la Vella               Andorra  3041563
2    Umm al Qaywayn  United Arab Emirates   290594
3    Ras al-Khaimah  United Arab Emirates   291074
4      Khawr Fakkān  United Arab Emirates   291696

In [58]:
total_city = correct_city['country'].unique()
total_city[10]

'Austria'

In [61]:
for i in total_city[0:5]:

Andorra
United Arab Emirates
Afghanistan
Antigua and Barbuda
Anguilla

In [54]:
print(missplet_city['misspelt_name'].nunique())
print(correct_city['name'].nunique())

22951
21940

In [10]:
missplet_city

            misspelt_name                 country
0          Hfjdúszoposzló                 Hungary
1                Otrajnyy                  Russia
2              ian Isidre                    Peru
3           Bordj Zemoufa                 Algeria
4             ChulamViwta           United States
5            PalqyanlCity             Philippines
6             Kaset wioai                Thailand
7              Baipe Citx                   China
8                Hiqhland           United States
9      hgggio nell'lmilia                   Italy
10                  xitte                 Germany
11          Lamjhia Terme                   Italy
12               Bbktemir              Uzbekistan
13              Quitflipi               Argentina
14                 Beidaf                   China
15                 Igbxho                 Nigeria
16                   Zibo                   China
17              Shrīgoada                   India
18             Coatbricgu          United Kingdom
19          Arcmxko-Ekiti                 Nigeria
20                  Siasa                   Kenya
21                Dam Dah                   India
22             Nevuünster                 Germany
23                 jlythe           United States
24              Rotsecaar                 Belgium
25                Zurphen             Netherlands
26                 Letehi                   India
27               Staqford          United Kingdom
28             tomalcalcn                  Mexico
29                 Zhuhat                   China
...                   ...                     ...
22988            Caparicy                Portugal
22989           Navalgunl                   India
22990       Guía de Isvra                   Spain
22991              Bavgor          United Kingdom
22992           Sect-Îles                  Canada
22993            qassafra                   Italy
22994             Al Myrj                   Libya
22995          Glouvehter           United States
22996          Mogf-Gauiu                  Brazil
22997          Savastopol                 Ukraine
22998             Ajameda           United States
22999            Kitakhta                   Japan
23000              Suzuza                   Japan
23001               Kpmra                Pakistan
23002             Čkkovec                 Croatia
23003              sipomo           United States
23004           Taglnskiy                  Russia
23005            Hirospki                   Japan
23006                Aksu              Kazakhstan
23007           Kophenëvo                  Russia
23008     Bcrya do Bugros                  Brazil
23009              tisoko  Bosnia and Herzegovina
23010             lremont           United States
23011       Sozth BelmAir           United States
23012           Berrechie                 Morocco
23013          Zdigulegsk                  Russia
23014              Ygring                Thailand
23015           moudougou            Burkina Faso
23016              Bhīkxi                   India
23017      Belvfbere Park           United States

[23018 rows x 2 columns]

In [135]:
missplet_city['length']= [len(i) for i in missplet_city.misspelt_name]
missplet_city[missplet_city.length==49]

                                          misspelt_name country  length
7077  Djlorha HisalgobCuna dv la Independehcia ekcional  Mexico      49

In [38]:
correct_city['length']= [len(i) for i in correct_city.name]
correct_city.head()

               name               country       id  length
0      les Escaldes               Andorra  3040051      12
1  Andorra la Vella               Andorra  3041563      16
2    Umm al Qaywayn  United Arab Emirates   290594      14
3    Ras al-Khaimah  United Arab Emirates   291074      14
4      Khawr Fakkān  United Arab Emirates   291696      12

In [111]:
mcity_3=missplet_city[(missplet_city.country == 'India') & (missplet_city.length==3)]

In [112]:
ccity_3=correct_city[(correct_city.country == 'India') & (correct_city.length==3)]

In [93]:
10/3

3.3333333333333335

In [99]:
def distanceofStr(str1, str2):
    count=0
    for i in range(len(str1)):
        if str1[i]!= str2[i]:
            count=count+1
    return 1-count/len(str1)

In [120]:
if distanceofStr("aare",'aare') > 0.74:
    print("hi")

hi

In [113]:
correct_city_name= ccity_3['name'].tolist()
correct_city_name

['Wer',
 'Wai',
 'Una',
 'Una',
 'Ron',
 'Pen',
 'Mūl',
 'Mon',
 'Mau',
 'Mau',
 'Leh',
 'Lar',
 'Diu',
 'Dīg',
 'Bāh',
 'Ābu']

In [114]:
 missplet_city_name= mcity_3['misspelt_name'].tolist()
missplet_city_name

['Lar',
 'Wai',
 'Leh',
 'Una',
 'Ābu',
 'Wer',
 'Mon',
 'Bāh',
 'Pen',
 'Mau',
 'Una',
 'Mau',
 'Mūl',
 'Ron',
 'Dīg',
 'Diu']

In [138]:
for co
for i in correct_city_name:
    for j in missplet_city_name:
        if distanceofStr(i,j) >= 0.74:
            print(correct_city[correct_city.name==i])

     name country       id  length
8806  Wer   India  1252885       3
     name country       id  length
8820  Wai   India  1253013       3
     name country       id  length
1424  Una  Brazil  3445781       3
8889  Una   India  1253782       3
8890  Una   India  1253783       3
     name country       id  length
1424  Una  Brazil  3445781       3
8889  Una   India  1253782       3
8890  Una   India  1253783       3
     name country       id  length
1424  Una  Brazil  3445781       3
8889  Una   India  1253782       3
8890  Una   India  1253783       3
     name country       id  length
1424  Una  Brazil  3445781       3
8889  Una   India  1253782       3
8890  Una   India  1253783       3
     name country       id  length
9259  Ron   India  1258061       3
     name country       id  length
9449  Pen   India  1259931       3
     name country       id  length
9695  Mūl   India  1262574       3
     name country       id  length
9717  Mon   India  1262824       3
     name country       id  length
9753  Mau   India  1263309       3
9754  Mau   India  1263311       3
     name country       id  length
9753  Mau   India  1263309       3
9754  Mau   India  1263311       3
     name country       id  length
9753  Mau   India  1263309       3
9754  Mau   India  1263311       3
     name country       id  length
9753  Mau   India  1263309       3
9754  Mau   India  1263311       3
     name country       id  length
9882  Leh   India  1264976       3
     name country       id  length
9888  Lar   India  1265053       3
      name country       id  length
10520  Diu   India  1272502       3
      name country       id  length
10532  Dīg   India  1272639       3
      name country       id  length
10977  Bāh   India  1277841       3
      name country       id  length
11141  Ābu   India  1279396       3

[]